html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #f6f7fb;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    letter-spacing: 0.05rem;
  }

  @media screen and (max-width: 1920px) {
    html {
      font-size: 14px;
    }
  }
  